body {
    font-family: "Roboto";
    font-size: 1rem;
    /* padding-block: 20px; */
}
a {
    color: rgb(151, 20, 134);
    font-size: 1.25rem;
    text-decoration: none;
}
div,
p {
    font-size: 1.25rem;
    margin-block-start: 0;
    margin-block-end: 0;
}
ul li,
ol li {
    font-size: 1.125rem;
    line-height: 1.5;
}
table {
    width: 500px;
    text-align: center;
}
table,
th,
td,
tr {
    border: 1px solid black;
    border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}
.container {
    padding-top: 50px;
}
.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hello div {
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(101, 182, 63);
    color: white;
    cursor: pointer;
}
.inputs-block {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.inputs-block input {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.list {
    width: 200px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: auto;
   
}

#button {
    background-color: rgb(196, 59, 223);
    color: white;
    border-radius: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
}
#button.click {
    
    background-color: rgba(105, 40, 86, 0.8);
}
.table {
    width: 250px;
    height: 100px;
}
.shop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.shop img{
    width: 150px;
    object-fit: cover;
    cursor: pointer;
}
/* .shop img:hover{
    transform: scale(1.1);
   
    
} */
.border{
    border: 2px solid green;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.athletes{
    width: 650px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
}
.total-list, .list-competitions{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(207, 221, 217);
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 5px;
}
.item button{
    border: none;
}
.item button img{
   width: 30px;
   cursor: pointer;
}
.items, .checked {
   display: flex;
   flex-direction: column;  
   gap: 10px;
}

.snowflakes{
    width: 800px;
    height: 450px;
    margin: auto;
    position: relative;
    border-radius:100px;
    background-color: rgb(145, 181, 235);
}
.snowflake{
    width: 25px;
    height: 25px;
    position: absolute;
    color: white;
   
}